/* original theme: http://mnmlist.com/theme/ */
/* color scheme: #333, #666, #999, #C0C0C0 */

body{
	background: #F6F8FA; 
	font: 20px Hoefler Text, "Times New Roman", Times, serif; 
	color: #222; 
	line-height: 30px;}

venue{
	font: 18px Hoefler Text, "Times New Roman", Times, serif;  
	color: #555;	
	font-style: italic;
}

h1 {
	font-family: Helvetica, sans-serif; 
	font-size: 1.4em; 
	line-height: 26px; 
	font-weight: normal; 
	padding: 5px 0px 10px 0px;
}

img {
	height: 100%; 
	width: 100%;
}

blockquote{
	border-left: 1px solid #999; 
	margin: 0px; 
	padding: 0 6px 0 6px;
}

p {
	line-height: 26px; 
	margin: 28px auto; 
}

a {
	text-decoration: none;
	color: #333; 
}

a:hover {
	color: #999; 
}

.content{
	width: 30em; 
	overflow: hidden; 
	margin: 60px 14px 0 64px;
}	

.intro a {
	border-width: 0 0 1px 0; 
	border-style: none none solid none; 
	border-color: #C0C0C0;
}

.footer {
	margin: 0 100px 50px 115px;
}

.footer p {
	padding: 4px 0; 
	margin: 0; 
	font-family: helvetica, sans-serif; 
	font-size: 14px; 
	letter-spacing: 4px
}

.footer a {
	color: #999;
	text-decoration: none;
}

.footer a:hover {
	color: #C0C0C0;
}






